*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-es-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-es-latest.csv filter=lfs diff=lfs merge=lfs -text
